<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="tree-table-box">
    <link th:href="@{/js/plugins/jquery-treegrid/css/jquery.treegrid.css}" rel="stylesheet">
    <script th:src="@{/js/plugins/jquery-treegrid/js/jquery.treegrid.js}" type="text/javascript" defer="defer"></script>
    <script th:src="@{/js/plugins/jquery-treegrid/js/jquery.treegrid.extension.js}" type="text/javascript" defer="defer"></script>
    <script th:src="@{/js/plugins/jquery-treegrid/js/jquery.treegrid.bootstrap3.js}" type="text/javascript" defer="defer"></script>
</div>
</body>
</html>